@CHARSET "ISO-8859-1";
div{
/* border:1px solid ;  */
 	
	
}
.img-orient{
	width:10%;
}
.add-border{
	border-left:4px solid black; 
}
.font-color{
	color:White;
}
.table-borderless td{
	border: none !important;
}